body,
html {
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: black;
  font-family: "Dancing Script", cursive;
  font-family: "IBM Plex Sans", sans-serif;
}
h1 {
  color: gold;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d";
  align-items: flex-start;
  color: white;
}
.item2 {
  grid-area: b;
  color: rgba(208, 120, 13, 0.626);
}
.item3 {
  grid-area: c;
}

.container {
  display: flex;
  border: 5px solid #d3d3d3;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: row;
  width: 100px;
  margin: 0 auto;
}

.home {
  flex: 1;
  color: white;
}
.projects {
  flex: 1;
}
.container {
  flex: 1;
}
.contact {
  flex: 1;
}

@media all and (max-width: 700px) and (min-width: 300px) {
  .container,
  .pictures {
    flex-wrap: wrap;
    overflow: auto;
  }
}

.pictures {
  display: flex;
  padding: 150px 120px;
  box-sizing: auto;
  justify-content: flex-start;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.self-photo {
  display: flex;
  margin: auto;
  width: 200px;
  height: 200px;
}
.coding-photo {
  display: flex;
  width: 200px;
  height: 200px;
}
.wild {
  font-weight: bold;
  text-decoration: underline;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: 0 auto;
}

img {
  max-width: 210px;
  max-height: 170px;
  border-radius: 12px;
  object-fit: cover;
  margin: 0 auto;
}
figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

#container {
  max-width: 250px;
  margin: 0 auto;

  margin-top: 20vh;
}

.card {
  background-color: white;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  margin: 0, auto;
}
.tag {
  padding: 4px 8px;
  border: 1px solid black;

  border-radius: 50px;
  font-size: 12px;
  font-weight: 600px;
  color: black;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

p {
  font-size: 14px;
  color: black;
  line-height: 150%;
}

button {
  border: none;
  padding: 12px, 24px;
  border-radius: 50px;
  font-weight: 600;
  color: beige;
  background-color: gold;

  margin: 0 auto;
  display: block;
  transition: all 200ms ease-in-out;
}

button:focus,
button:hover {
  color: #d3d3d3;
  background-color: gold;
}
section {
  text-align: center;
}
